.wrapper-header {
  background-color: #e5b7e9;
  margin: 0;
  padding: 0;
  border: 0;
  max-height: 100%;
}

.header {
  margin: 0;
}

.heading-navbar {
  min-height: 100px;
  min-width: 100px;
}

.logo {
  background-image: url(../../assets/images/Cats-Union.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.page-title {
  text-align: center;
  padding: 20px;
}

.navbar-light {
  background-color: #e5b7e9;
}
.navbar {
  min-height: 100px;
  padding: 0px;
  border: 0px;
  margin: 0px;
  width: 100%;
}

.nav-box {
  position: relative;
  bottom: 0;
  right: 0;
  padding: 10px 25px;
  border: 1px;
  margin: 0px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.nav li {
  font-size: 14px;
  padding: 0;
}

.nav-attach {
  font-size: 0;
}

.nav-box-first {
  background-color: #e5b7e9;
  color: black;
}

.nav-box-first:hover {
  background-color: #c97ad0;
  color: black;
}

.nav-box-second {
  background-color: #e5b7e9;
  color: black;
}

.nav-box-second:hover {
  background-color: #c97ad0;
  color: black;
}

.nav-box-third {
  background-color: #e5b7e9;
  color: black;
}

.nav-box-third:hover {
  background-color: #c97ad0;
  color: black;
}

.nav-box-fourth {
  background-color: #e5b7e9;
  color: black;
}

.nav-box-fourth:hover {
  background-color: #c97ad0;
  color: black;
}

.nav-box-active {
  background-color: #c97ad0;
  color: black;
}

.long-image {
  max-height: 603px;
  padding-bottom: 10px;
}

.main-page-background {
  background-image: url(../../assets/images/Cat-poke.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 603px;
  padding-bottom: 10px;
}

.adopting-panel {
  min-height: 403px;
  padding-bottom: 10px;
  display: inline-block;
}

.title {
  font-size: 50px;
  text-align: Center;
  padding: 20px;
}

.subtitle {
  font-size: 30px;
  text-align: center;
}

.cat-details {
  text-align: Center;
}
.cat-box {
  position: relative;
  padding: 10px 25px;
  border: 0px;
  margin: 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.salem-cat {
  background-image: url(../../assets/images/Salem.png);
}

.savannah-cat {
  background-image: url(../../assets/images/Savannah.jpg);
}

.charlie-cat {
  background-image: url(../../assets/images/charlie.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.donate-panel {
  min-height: 603px;
  padding-bottom: 10px;
  background-color: #eeedac;
}

.donate-details {
  text-align: Center;
}

.circle-image {
  position: relative;
  top: 20px;

  text-align: center;
  text-decoration: none;
}

.circle-image img {
  border-width: 1px;
  border-radius: 50%;
}

.left-circle {
  position: relative;
  left: 50px;
}

.middle-circle {
  position: relative;
  top: 60px;
}

.right-circle {
  position: relative;
  right: 50px;
}
.upper-image {
  background: rgb(0, 0, 0);
  opacity: 0.6;
  background-image: url(../../assets/images/cage-cat.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 600px;
  padding-bottom: 20px;
}

.upper-statement {
  color: black;
  font-size: 30px;
  position: relative;
  width: 300px;
  height: 200px;
  padding-top: 40px;
  padding-left: 10px;
  bottom: 600px;
  left: 840px;
}

.middle-image {
  background: rgb(0, 0, 0);
  opacity: 0.6;
  background-image: url(../../assets/images/Man-with-kitten.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 600px;
  padding-bottom: 20px;
}

.middle-statement {
  color: black;
  font-size: 30px;
  position: relative;
  width: 300px;
  height: 200px;
  padding-top: 40px;
  padding-left: 10px;
  bottom: 610px;
  left: 70px;
}

.lower-image {
  background: rgb(0, 0, 0);
  opacity: 0.6;
  background-image: url(../../assets/images/vet-kitten.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 600px;
  padding-bottom: 20px;
}

.lower-statement {
  color: black;
  font-size: 30px;
  position: relative;
  width: 300px;
  height: 200px;
  padding-top: 40px;
  padding-left: 10px;
  bottom: 250px;
  left: 870px;
}

.footer-panel {
  background-color: black;
  position: relative;
  bottom: 0;
  text-align: center;
  padding-bottom: 10px;
}

.footer-panel p {
  font-size: 15px;
  color: #e5b7e9;
}

.footer-panel i {
  color: #e5b7e9;
}

.button-color {
  background-color: #e5b7e9;
}

.modal-image {
  background-image: url(../../assets/images/map.png);
  background-position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 250px;
  padding-bottom: 10px;
}

.address-info {
  font-size: 15px;
}

@media screen and (max-width: 2560px) {
  .slogan {
    color: black;
    font-size: 30px;
    position: relative;
    width: 300px;
    height: 200px;
    padding-top: 40px;
    padding-left: 10px;
    bottom: 450px;
    left: 630px;
  }
}

@media screen and (max-width: 1200px) {
  .slogan {
    color: black;
    font-size: 30px;
    position: relative;
    width: 300px;
    height: 200px;
    padding-top: 40px;
    padding-left: 10px;
    bottom: 450px;
    left: 630px;
  }

  .upper-statement {
    color: black;
    font-size: 30px;
    position: relative;
    width: 300px;
    height: 200px;
    padding-top: 40px;
    padding-left: 10px;
    bottom: 600px;
    left: 700px;
  }

  .middle-statement {
    color: black;
    font-size: 30px;
    position: relative;
    width: 300px;
    height: 200px;
    padding-top: 40px;
    padding-left: 10px;
    bottom: 610px;
    left: 70px;
  }

  .lower-statement {
    color: black;
    font-size: 30px;
    position: relative;
    width: 300px;
    height: 200px;
    padding-top: 40px;
    padding-left: 10px;
    bottom: 270px;
    left: 700px;
  }
}

@media screen and (max-width: 1024px) {
  .slogan {
    color: black;
    font-size: 30px;
    position: relative;
    width: 300px;
    height: 200px;
    padding-top: 40px;
    padding-left: 10px;
    bottom: 450px;
    left: 480px;
  }
  .upper-image {
    background: rgb(0, 0, 0);
    opacity: 0.6;
    background-image: url(../../assets/images/cage-cat.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 600px;
    padding-bottom: 20px;
  }

  .upper-statement {
    color: black;
    font-size: 25px;
    position: relative;
    width: 200px;
    height: 200px;
    padding-top: 40px;
    padding-left: 10px;
    bottom: 600px;
    left: 480px;
  }

  .middle-image {
    background: rgb(0, 0, 0);
    opacity: 0.6;
    background-image: url(../../assets/images/Man-with-kitten.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 600px;
    padding-bottom: 20px;
  }

  .middle-statement {
    color: black;
    font-size: 25px;
    position: relative;
    width: 300px;
    height: 200px;
    padding-top: 40px;
    padding-left: 10px;
    bottom: 610px;
    left: 70px;
  }

  .lower-image {
    background: rgb(0, 0, 0);
    opacity: 0.6;
    background-image: url(../../assets/images/vet-kitten.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 600px;
    padding-bottom: 20px;
  }

  .lower-statement {
    color: black;
    font-size: 25px;
    position: relative;
    width: 300px;
    height: 200px;
    padding-top: 40px;
    padding-left: 10px;
    bottom: 250px;
    left: 450px;
  }
}

@media screen and (max-width: 768px) {
  .long-image {
    max-height: 303px;
  }

  .slogan {
    color: black;
    font-size: 25px;
    position: relative;
    bottom: 250px;
    left: 250px;
    text-align: center;
    padding-top: 10px;
    padding-left: 10px;
  }

  .main-page-background {
    background-image: url(../../assets/images/Cat-poke.png);
    background-position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 10px;
    padding-right: 0px;
    object-fit: cover;
    min-height: 300px;
  }
  .adopting-panel {
    min-height: 300px;
    padding-bottom: 10px;
  }
  .cat-box img {
    width: 70%;
    height: 70%;
  }

  .left-circle {
    position: relative;
    left: 0px;
  }

  .right-circle {
    position: relative;
    right: 0px;
  }

  .upper-image {
    background: rgb(0, 0, 0);
    opacity: 0.6;
    background-image: url(../../assets/images/cage-cat.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 300px;
    padding-bottom: 20px;
  }

  .upper-statement {
    color: black;
    font-size: 23px;
    position: relative;
    width: 200px;
    height: 150px;
    padding-top: 40px;
    padding-left: 10px;
    bottom: 280px;
    left: 380px;
  }

  .middle-image {
    background: rgb(0, 0, 0);
    opacity: 0.6;
    background-image: url(../../assets/images/Man-with-kitten.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 300px;
    padding-bottom: 20px;
  }

  .middle-statement {
    color: black;
    font-size: 23px;
    position: relative;
    width: 200px;
    height: 150px;
    padding-top: 40px;
    padding-left: 10px;
    bottom: 330px;
    left: 50px;
  }

  .lower-image {
    background: rgb(0, 0, 0);
    opacity: 0.6;
    background-image: url(../../assets/images/vet-kitten.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 300px;
    padding-bottom: 20px;
  }

  .lower-statement {
    color: black;
    font-size: 23px;
    position: relative;
    width: 200px;
    height: 150px;
    padding-top: 40px;
    padding-left: 10px;
    bottom: 230px;
    left: 410px;
  }
}

@media screen and (max-width: 640px) {
  .long-image {
    max-height: 303px;
  }

  .slogan {
    color: black;
    font-size: 20px;
    position: relative;
    bottom: 250px;
    left: 70px;
    text-align: center;
    padding-top: 10px;
    padding-left: 10px;
  }

  .main-page-background {
    background-image: url(../../assets/images/Cat-poke.png);
    background-position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 10px;
    padding-right: 0px;
    object-fit: cover;
    min-height: 300px;
  }
  .adopting-panel {
    min-height: 300px;
    padding-bottom: 10px;
    vertical-align: center;
  }

  .cat-box img {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 100%;
  }

  .subtitle {
    font-size: 15px;
    text-align: center;
  }

  .middle-circle {
    position: relative;
    top: 20px;
  }
  .left-circle {
    position: relative;
    left: 0px;
  }

  .right-circle {
    position: relative;
    right: 0px;
  }

  .donate-panel {
    min-height: 600px;
  }

  .upper-image {
    background: rgb(0, 0, 0);
    opacity: 0.6;
    background-image: url(../../assets/images/cage-cat.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 300px;
    padding-bottom: 20px;
  }

  .upper-statement {
    color: black;
    font-size: 23px;
    position: relative;
    width: 200px;
    height: 150px;
    padding-top: 40px;
    padding-left: 10px;
    bottom: 280px;
    left: 370px;
  }

  .middle-image {
    background: rgb(0, 0, 0);
    opacity: 0.6;
    background-image: url(../../assets/images/Man-with-kitten.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 300px;
    padding-bottom: 20px;
  }

  .middle-statement {
    color: black;
    font-size: 23px;
    position: relative;
    width: 200px;
    height: 150px;
    padding-top: 40px;
    padding-left: 10px;
    bottom: 330px;
    left: 30px;
  }

  .lower-image {
    background: rgb(0, 0, 0);
    opacity: 0.6;
    background-image: url(../../assets/images/vet-kitten.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 300px;
    padding-bottom: 20px;
  }

  .lower-statement {
    color: black;
    font-size: 23px;
    position: relative;
    width: 200px;
    height: 150px;
    padding-top: 40px;
    padding-left: 10px;
    bottom: 230px;
    left: 260px;
  }
}

@media screen and (max-width: 600px) {
  .long-image {
    max-height: 303px;
  }

  .slogan {
    color: black;
    font-size: 20px;
    position: relative;
    bottom: 250px;
    left: 10px;
    text-align: center;
    padding-top: 10px;
    padding-left: 10px;
  }

  .main-page-background {
    background-image: url(../../assets/images/Cat-poke.png);
    background-position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 10px;
    padding-right: 0px;
    object-fit: cover;
    min-height: 300px;
  }

  .adopting-panel {
    min-height: 300px;
    padding-bottom: 10px;
    display: inline-block;
    vertical-align: middle;
  }

  .subtitle {
    font-size: 15px;
    text-align: center;
  }

  .cat-box img {
    display: table-cell;
    text-align: center;

    width: 100%;
  }

  .middle-circle {
    position: relative;
    top: 20px;
  }

  .donate-panel {
    min-height: 1010px;
  }

  .upper-image {
    background: rgb(0, 0, 0);
    opacity: 0.6;
    background-image: url(../../assets/images/cage-cat.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 300px;
    padding-bottom: 20px;
  }

  .upper-statement {
    color: black;
    font-size: 23px;
    position: relative;
    width: 200px;
    height: 150px;
    padding-top: 40px;
    padding-left: 10px;
    bottom: 280px;
    left: 260px;
  }

  .middle-image {
    background: rgb(0, 0, 0);
    opacity: 0.6;
    background-image: url(../../assets/images/Man-with-kitten.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 300px;
    padding-bottom: 20px;
  }

  .middle-statement {
    color: black;
    font-size: 23px;
    position: relative;
    width: 200px;
    height: 150px;
    padding-top: 40px;
    padding-left: 10px;
    bottom: 330px;
    left: 30px;
  }

  .lower-image {
    background: rgb(0, 0, 0);
    opacity: 0.6;
    background-image: url(../../assets/images/vet-kitten.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 300px;
    padding-bottom: 20px;
  }

  .lower-statement {
    color: black;
    font-size: 23px;
    position: relative;
    width: 200px;
    height: 150px;
    padding-top: 40px;
    padding-left: 10px;
    bottom: 230px;
    left: 260px;
  }
}

@media screen and (max-width: 480px) {
  .long-image {
    max-height: 303px;
  }

  .slogan {
    color: black;
    font-size: 20px;
    position: relative;
    bottom: 250px;
    left: 10px;
    text-align: center;
    padding-top: 10px;
    padding-left: 10px;
  }

  .main-page-background {
    background-image: url(../../assets/images/Cat-poke.png);
    background-position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 10px;
    padding-right: 0px;
    object-fit: cover;
    min-height: 300px;
  }

  .adopting-panel {
    min-height: 300px;
    padding-bottom: 10px;
    display: inline-block;
    vertical-align: middle;
  }

  .subtitle {
    font-size: 15px;
    text-align: center;
  }

  .cat-box img {
    display: table-cell;
    text-align: center;

    width: 100%;
  }

  .middle-circle {
    position: relative;
    top: 20px;
  }

  .donate-panel {
    min-height: 1010px;
  }

  .upper-image {
    background: rgb(0, 0, 0);
    opacity: 0.6;
    background-image: url(../../assets/images/cage-cat.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 300px;
    padding-bottom: 20px;
  }

  .upper-statement {
    color: black;
    font-size: 20px;
    position: relative;
    width: 200px;
    height: 150px;
    padding-top: 40px;
    padding-left: 10px;
    bottom: 180px;
    left: 70px;
  }

  .middle-image {
    background: rgb(0, 0, 0);
    opacity: 0.6;
    background-image: url(../../assets/images/Man-with-kitten.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 300px;
    padding-bottom: 20px;
  }

  .middle-statement {
    color: black;
    font-size: 20px;
    position: relative;
    width: 200px;
    height: 150px;
    padding-top: 40px;
    padding-left: 10px;
    bottom: 180px;
    left: 70px;
  }

  .lower-image {
    background: rgb(0, 0, 0);
    opacity: 0.6;
    background-image: url(../../assets/images/vet-kitten.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 300px;
    padding-bottom: 20px;
  }

  .lower-statement {
    color: black;
    font-size: 20px;
    position: relative;
    width: 200px;
    height: 150px;
    padding-top: 40px;
    padding-left: 10px;
    bottom: 210px;
    left: 70px;
  }
}
